@model progetto_settimanaleS18L5.Models.Cliente

@{
    ViewBag.Title = "CreaCliente";
}

<h2>Crea un nuovo cliente</h2>

@using (Html.BeginForm("CreaCliente", "Cliente", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CodiceFiscale)
        @Html.TextBoxFor(model => model.CodiceFiscale, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CodiceFiscale, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cognome)
        @Html.TextBoxFor(model => model.Cognome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Citta)
        @Html.TextBoxFor(model => model.Citta, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Citta, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Provincia)
        @Html.TextBoxFor(model => model.Provincia, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono)
        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cellulare)
        @Html.TextBoxFor(model => model.Cellulare, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Cellulare, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-outline-primary">Registra Cliente</button>
    @Html.ActionLink("Annulla", "ListaCliente", "Cliente", null, new { @class = "btn btn-outline-danger" })

}


