@model progetto_settimanaleS18L5.Models.Prenotazione

@{
    ViewBag.Title = "CreaPrenotazione";
    var listaClienti = (IEnumerable<SelectListItem>)ViewBag.ListaClienti;
    var listaCamere = (IEnumerable<SelectListItem>)ViewBag.ListaCamere;
}

<h2>Nuova Prenotazione</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.CodiceFiscale, "Cliente")
        @Html.DropDownListFor(model => model.CodiceFiscale, listaClienti, "Seleziona un cliente", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CodiceFiscale, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NumeroCamera, "Camere disponibili")
        @Html.DropDownListFor(model => model.NumeroCamera, listaCamere, "Seleziona una camera", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumeroCamera, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataPrenotazione, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DataPrenotazione, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataPrenotazione, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Anno, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Anno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Anno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataInizioSoggiorno)
        @Html.EditorFor(model => model.DataInizioSoggiorno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataInizioSoggiorno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataFineSoggiorno)
        @Html.EditorFor(model => model.DataFineSoggiorno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataFineSoggiorno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CaparraConfirmatoria, "Caparra Confirmatoria")
        @Html.TextBoxFor(model => model.CaparraConfirmatoria, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CaparraConfirmatoria, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TariffaApplicata, "Tariffa Applicata")
        @Html.TextBoxFor(model => model.TariffaApplicata, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TariffaApplicata, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Opzioni Soggiorno")
        <div>
            <label>
                @Html.CheckBoxFor(model => model.MezzaPensione) Mezza Pensione
            </label>
            <label>
                @Html.CheckBoxFor(model => model.PensioneCompleta) Pensione Completa
            </label>
            <label>
                @Html.CheckBoxFor(model => model.PernottamentoPrimaColazione) Pernottamento con Prima Colazione
            </label>
        </div>
    </div>


    <button type="submit" class="btn btn-outline-primary">Crea</button>
}


